.nav-container {
    font-family: Inter, sans-serif;
  color: #00d8ff;
  box-shadow: 0px 2px 5px #1c1d23;
  background-color: #21222a;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.nav-h3 {
  color: #deebf8;
  margin-right: 10px;
}

div > h1{
  margin-right: auto;

}
